@media screen and (max-width: 430px){
 .body{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
 }

    .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        color: blue;
        margin-bottom: 30px;
    }
    .linkInicio{
        margin: 40px;
        text-decoration: none;

    }

  
}
